<!DOCTYPE html>
<html>
  <head>
    <title>Mashine Learning</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" style="max-width: 500px;">
      <h1>Mashine Learning &#128540</h1>
      <div style="height: 10px"></div>
      <p>
        Import your CSV file with the following format: <br>
        Variables (units) [usual range]
      </p>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <label for="avatar">Choose CSV file:</label>
        <input type="file"
            accept=".csv">
          {{ form.submit(class='btn btn-primary') }} &#128072
      </form>
      <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% if error != None %}
          {{ error }}
        {% endif %}
    </div>
  </body>
</html>
