<!DOCTYPE html>
<html>
    <head>
        <title>Confushion Matrix</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="max-width: 500px;">
            <h1>Confushion Matrix</h1>
            <div style="height: 10px"></div>
            <p>
            Calculated all models!
            </p>
            Confusion Matrices
            {% for table in tables %}
                {{ table| safe }}
                {{ messages1[loop.index0] }} <br>
                Model Metrics <br>
                {{ accuracyList[loop.index0] }} <br>
                {{ sensitivities[loop.index0]}}<br>
                {{ specificities[loop.index0]}}<br>
                {{ precisions[loop.index0]}}<br>
                {{ f1_scores[loop.index0]}} <br>
            {% endfor %}

            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </body>
</html>