<!DOCTYPE html>
<html>
    <head>
        <title>Confushion Matrix</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="max-width: 500px;">
            <h1>Confushion Matrix</h1>
            <div style="height: 10px"></div>
            <p>
                Here is your GODDAMN matrix
            </p>
            Confusion Matrix
            {% for table in tables %}
                {{ table| safe }}
            {% endfor %}
        </div>
    </body>
</html>