<!DOCTYPE html>
<html>
    <head>
        <title>Confushion Matrix</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="max-width: 500px;">
            <h1>Confushion Matrix</h1>
            <div style="height: 10px"></div>
            <p>
            Calculated all models! Thank you for waiting on the results!<br>
            Also you kind of have to grade this so I guess not much of a choice, but thanks anyways! <br>
            Note: Sample size for GaussianNB model and AdaBoostClassifier has been limited to 100 for runtime purposes.
            </p>
            Confusion Matrices
            {% for table in tables %}
                {{ table| safe }}
                {{ messages1[loop.index0] }} <br>
                <h3>Model Metrics </h3>
                {{ accuracyList[loop.index0] }} <br>
                {{ sensitivities[loop.index0] }}<br>
                {{ specificities[loop.index0] }}<br>
                {{ precisions[loop.index0] }}<br>
                {{ f1_scores[loop.index0] }} <br>
                <h3> Shap Plots </h3>
                {% if images[loop.index0] %}
                <p style="text-align:center;"><img src="{{ images[loop.index0] }}" alt="Shap Plot"></p>
                {% endif %}
            {% endfor %}
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </body>
</html>