<!DOCTYPE html>
<html>
  <head>
    <title>Mashine Learning</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" style="max-width: 500px;">
      <h1>Mashine Learning &#128540</h1>
      <div style="height: 10px"></div>
      <p>
        Import your CSV file with the following format: <br>
        Variables (units) [usual range]
      </p>
      <div>
      <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
          <div class="form-group">
            <label>{{ form.column_index.label }}</label>

            <div class="form-check">
              {{ form.column_index(class='form-check-input') }}

            </div>
            
      </form>
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
    </div>
  </body>
</html>
