<!DOCTYPE html>
<html>
  <head>
    <title>Mashine Learning</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" style="max-width: 500px;">
      <h1>Mashine Learning &#128540</h1>
      <div style="height: 10px"></div>
      <p>
        Import your CSV file with all variables in the first row<br>
      </p>
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <hr style="border: 1px solid black;" />
        Does your CSV file contain an indexing column? <br>
        <input type="radio" name="hasIndex" id="option1" value="True"> Yes </input><br>
        <input type="radio" name="hasIndex" id="option2" value="False"> No </input><br>
        <input type="submit" value=Submit>
        <p>Please wait approximately 2 minutes for the data to load! <br>
        We appreciate your patience!</p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </div>
  </body>
</html>
